.figuraImagen {
  position: absolute;
}

.figuraImagen img {
  max-width: 100%;
}

.figuraImagenUno {
  left: -9rem;
  max-width: 550px;
  width: 40vw;
}

.figuraImagenDos {
  right: 0;
  max-width: 390px;
  top: 0;
  width: 40vw;
}

.figuraImagenTres {
  bottom: 1rem;
  max-width: 290px;
  right: 1rem;
  width: 40vw;
}

.hero {
  align-items: center;
  background-color: #114542;
  border-radius: 5vh;
  display: flex;
  height: 80vh;
  justify-content: center;
  margin-top: 5vh;
  min-height: 35rem;
  overflow: hidden;
  position: relative;
  width: 190vh;
}

.iconHolder {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 19rem;
  justify-content: center;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.iconLogo {
  position: absolute;
  top: 18vh;
  width: 16rem;
}

.iconLogo img {
  margin-left: -8vh;
  width: 150%;
}

.iconText {
  bottom: 9vh;
  color: #e0d4ca;
  font-size: 3rem;
  font-weight: 300;
  margin-left: 5vh;
  position: absolute;
}

@media screen and (max-width: 876px) {
  .figuraImagenUno {
    top: -5rem;
    width: 80vw;
  }

  .figuraImagenDos {
    right: 0rem;
  }

  .figuraImagenTres {
    bottom: auto;
    right: -5rem;
    top: 18rem;
    width: 50vw;
  }

  .hero {
    height: 70vh;
  }

  .iconHolder {
    height: 100%;
    justify-content: flex-end;
    width: 100%;
  }

  .iconLogo {
    bottom: 7rem;
    max-width: 10rem;
    top: auto;
  }
}
